.button {
  padding: 2px 8px 2px 8px;
  border: 2px solid #000;
  border-radius: 20px;
  font-weight: bold;
  font-size: 0.9em;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  transition: 0.2s;
}

.button:focus {
  background-color: #eee;
}

.button:hover {
  background-color: #eee;
  outline: none;
  animation: none;
  box-shadow: 0 0 10px #c6faf1;
}

.button:active {
  background-color: #ddd;
}

.glow {
  animation: glow 1500ms linear infinite;
}

@keyframes glow {
  0% {
  }
  50% {
    color: #135349;
    box-shadow: 0 0 20px #80d1c4;
  }
  100% {
  }
}
