.app {
  text-align: center;
  background-color: #c6faf1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #282c34;
  /* min-height: 10vh; */
  /* height: 10vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  font-size: 1.2rem;
  color: white;
  padding: 0px 10px;
  min-height: 60px;
  overflow-x: scroll;
}

.header p {
  margin: 0;
}

.appMain {
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  flex-grow: 1;
  overflow: hidden;
}

.title,
.subtitle {
  margin: 0;
}

.playArea {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.playArea p {
  margin: 1rem 0 0 0;
}

.contractInteraction {
  /* width: 90vw; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

/* .diagonalArrow { */
  /* transform: rotate(45deg); */
/* } */