.purchasable {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  background-color: #282c34;
  color: #fff;
  border: none;
  font-size: 0.9em;
}

.purchasable:hover {
  background-color: #444;
  cursor: pointer;
}

.iconContainer {
  position: relative;
}

.icon {
  height: 32px;
  margin: 0;
}

.checkmark {
  position: absolute;
  top: 42%;
  left: 62%;
  stroke: #282c34;
  stroke-width: 15px;
}

.label {
  margin: 0;
}
