body {
  background-color: #c6faf1;
}

.penguin {
  /* background-color:#c6faf1; */
  --penguin-skin: black;
  --penguin-belly: white;
  --penguin-beak: orange;
  position: relative;
  /* margin: auto; */
  display: block;
  /* margin-top: 5%; */
  width: 300px;
  height: 300px;
}

.penguin-top {
  top: 10%;
  left: 25%;
  background: var(--penguin-skin, gray);
  width: 50%;
  height: 45%;
  border-radius: 70% 70% 60% 60%;
}

.penguin-bottom {
  top: 40%;
  left: 23.5%;
  background: var(--penguin-skin, gray);
  width: 53%;
  height: 45%;
  border-radius: 70% 70% 100% 100%;
}

.right-hand {
  position: relative;
  top: 0%;
  left: -6%;
  background: var(--penguin-skin, gray);
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 120% 30%;
  transform: rotate(45deg);
  /* z-index: -4; */
}

.left-hand {
  top: 0%;
  left: 75%;
  background: var(--penguin-skin, gray);
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 30% 120%;
  transform: rotate(-45deg);
  /* z-index: -1; */
}

.right-cheek {
  top: 15%;
  left: 35%;
  background: var(--penguin-belly, white);
  width: 60%;
  height: 70%;
  border-radius: 70% 70% 60% 60%;
}

.left-cheek {
  top: 15%;
  left: 5%;
  background: var(--penguin-belly, white);
  width: 60%;
  height: 70%;
  border-radius: 70% 70% 60% 60%;
}

.belly {
  top: 60%;
  left: 2.5%;
  background: var(--penguin-belly, white);
  width: 95%;
  height: 100%;
  border-radius: 120% 120% 100% 100%;
}

.right-feet {
  top: 85%;
  left: 60%;
  background: var(--penguin-beak, orange);
  width: 15%;
  height: 30%;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(-80deg);
  z-index: -2222;
}

.left-feet {
  top: 85%;
  left: 25%;
  background: var(--penguin-beak, orange);
  width: 15%;
  height: 30%;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(80deg);
  z-index: -2222;
}

.right-eye {
  top: 45%;
  left: 60%;
  background: black;
  width: 15%;
  height: 17%;
  border-radius: 50%;
}

.left-eye {
  top: 45%;
  left: 25%;
  background: black;
  width: 15%;
  height: 17%;
  border-radius: 50%;
}

.sparkle {
  top: 25%;
  left: 15%;
  background: white;
  width: 35%;
  height: 35%;
  border-radius: 50%;
}

.blush-right {
  top: 65%;
  left: 15%;
  background: pink;
  width: 15%;
  height: 10%;
  border-radius: 50%;
}

.blush-left {
  top: 65%;
  left: 70%;
  background: pink;
  width: 15%;
  height: 10%;
  border-radius: 50%;
}

.beak-top {
  top: 60%;
  left: 40%;
  background: var(--penguin-beak, orange);
  width: 20%;
  height: 10%;
  border-radius: 50%;
}

.beak-bottom {
  top: 65%;
  left: 42%;
  background: var(--penguin-beak, orange);
  width: 16%;
  height: 10%;
  border-radius: 50%;
}

.penguin * {
  position: absolute;
}

.penguin-container {
  /* background-color: bisque; */
  position: relative;
  /* position: absolute; */
}

.penguin-reset-position {
  animation: Penguin-reset-position 0.3s ease-out forwards;
}

.penguin-walk-left {
  animation: Penguin-walk-left 0.2s ease-out forwards;
}

.penguin-walk-right {
  animation: Penguin-walk-right 0.2s ease-out forwards;
}

.penguin-jump {
  animation: Penguin-jump 0.4s ease;
}

.penguin-spin {
  animation: Penguin-spin 0.5s;
}

.penguin-wave-left {
  /* animation: Penguin-wave 2s linear; */
  animation-name: Penguin-wave-left; 
  animation-duration: 0.3s;
  animation-iteration-count: 2;
  /* transform-origin: 50% 40%; */
  /* transform-origin: bottom right;  */
  animation-timing-function: linear;
}

.penguin-wave-right {
  /* animation: Penguin-wave 2s linear; */
  animation-name: Penguin-wave-right; 
  animation-duration: 0.3s;
  animation-iteration-count: 2;
  /* transform-origin: 50% 50%; */
  animation-timing-function: linear;
}

@keyframes Penguin-reset-position {
  /* 0% {
    transform: translateX(0px);
  } */
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes Penguin-walk-left {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-150px);
  }
}

@keyframes Penguin-walk-right {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(150px);
  }
}

@keyframes Penguin-jump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes Penguin-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .right-hand {
  top: 0%;
  left: -5%;
  background: var(--penguin-skin, gray);
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 120% 30%;
  transform: rotate(45deg);
  z-index: -1;
} */

/* .right-hand {
  top: 5%;
  left: 25%;
  background: var(--penguin-skin, black);
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 120% 30%;
  transform: rotate(130deg);
  z-index: -1;
  animation-duration: 3s;
  animation-name: wave;
  animation-iteration-count: infinite;
  transform-origin:0% 0%;
  animation-timing-function: linear;
} */

@keyframes Penguin-wave-left {
  33% { 
    transform: rotate(-110deg);
    left: 135px;
    top: -20px;
  }

  /* 50% {
    transform: rotate(-110deg);
    left: 135px;
    top: -20px;
  } */

  /* 50% {
    transform: rotate(-110deg);
    left: 135px;
    top: -20px;
  } */
}

@keyframes Penguin-wave-right {
  /* 25% { 
    transform: rotate(110deg);
    left: -20px;
    top: -20px;
  } */

  50% {
    transform: rotate(110deg);
    left: -20px;
    top: -20px;
  }

  /* 50% {
    transform: rotate(110deg);
    left: -20px;
    top: -20px;
  } */
}



/* 
@keyframes Penguin-wave-right {
    25% {
      transform: rotate(110deg);
    }
    50% {
      transform: rotate(130deg);
    }
    75% {
      transform: rotate(110deg);
    }
    80% {
      transform: rotate(130deg);
    }
  } */

  .top-hat {
    top: -11%;
    left: 25%;
    width: 50%;
    height: 40%;
    margin: 0 auto;
    /* border: 1px solid #000; */
    /* background-color: red; */
  }

  .top-hat-top {
    position: relative;
    background: black;
    width: 70%;
    height: 60%;
    /* border-radius: 50%; */
    /* border: 1px solid #000; */
    background-color: #111;
    border-radius: 10% 10% 0% 0%;
    box-shadow: 0px 0px 1px;
    margin: 0 auto;
    z-index: 3;
  }

  .top-hat-middle {
    position: relative;
    top: -10%;
    width: 70%;
    height: 20%;
    border-radius: 50%;
    background-color: #111;
    /* box-shadow: 0px 0px 1px; */
    margin: 0 auto;
    z-index: 4;
  }

  .top-hat-stripe-background {
    position: relative;
    top: -20%;
    width: 70%;
    height: 15%;
    background-color: #444;
    /* background-color: green; */
    box-shadow: 0px 0px 1px;
    margin: 0 auto;
    z-index: 2;
  }

  .top-hat-stripe {
    position: relative;
    top: -30%;
    width: 70%;
    height: 20%;
    border-radius: 50%;
    background-color: #444;
    /* background-color: green; */
    /* box-shadow: 0px 0px 1px; */
    margin: 0 auto;
    z-index: 2;
  }

  .top-hat-brim {
    position: relative;
    top: -57%;
    width: 100%;
    height: 37%;
    border-radius: 50%;
    background-color: #111;
    box-shadow: 0px 0px 1px;
    /* z-index: 1; */
  }
  
  .monocle {
    top: 17%;
    left: 53%;
    /* left: 102%; */
    width: 25%;
    height: 25%;
    /* margin: 0 auto; */
    /* border: 1px solid #000; */
    /* background-color: green; */
  }
  
  .monocle-lens{
    position: relative;
    top: 50%;
    /* left: 52%; */
    width: 35%;
    height: 35%;
    /* margin: 0 auto; */
    border: 3px solid #000;
    border-radius: 50%;
    /* background-color: green; */
  }
  
  .monocle-string {
    /* top: 18%;
    left: 52%;
    width: 22%;
    height: 22%;
    margin: 0 auto;
    border: 1px solid #000; */
    /* .box { */
    position: relative;
    top: 6%;
    left: -25%;
    width: 55%; 
    height: 100px;  
    border: solid 2px #000;
    border-color: #000 transparent transparent transparent;
    border-radius: 50%/20px 0px 0 0;
    transform: rotate(55deg);
    /* } */
  }
  
  .lollipop {
    position: relative;
    top: 30%;
    left: -90%;
    width: 50%;
    height: 80%;
    margin: 0 auto;
    transform: rotate(280deg);
    /* z-index: -1 */
  }

  .lollipop-top {
    position: relative;
    width: 100%;
    height: 37%;
    border-radius: 50%;
    background-color: #e50000;
    box-shadow: 0px 0px 1px;
    /* z-index: 1; */
  }
  
  .lollipop-stick {
    position: relative;
    top: -3%;
    width: 24%;
    height: 63%;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 0px 1px;
    margin: 0 auto;
    z-index: -1;
  }
  