.Purchasable {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
}

.Purchasable:hover {
  background-color: #444;
  cursor:pointer;
}

.Purchasable-icon-container {
  position: relative;
}

.Purchasable-icon {
  height: 5vh;
  margin: 0;
}

.Purchasable-checkmark {
  background-color: #444;
  position: absolute;
  top: 37%;
  left: 52%;
}

.Purchasable-label {
  margin: 0;
}
